<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Anna Liberty {% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/custom.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    {# Google Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">

    {% block rss %}
      <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}

    {% block head_extras %}{% endblock head_extras %}
  </head>

  <body>
    <header>
      <h1 class="title">{% block pagetitle %} {% endblock pagetitle %}</h1>
      <nav>
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/about/">About</a></li>
	  <li><a href="/blog/">Blog</a></li>
	</ul>
      </nav>
    </header>
    <main>
      {% block content %} {% endblock content %}
    </main>

    <footer>
      <p>Copyright © 2026 Anna Liberty</p>
      <p>Contact me at <a href="mailto:liberty.817@proton.me">liberty.817@proton.me</a></p>
    </footer>
  </body>

</html>
