{% extends "base.html" %}

{% block head_extras %}
<meta name="fediverse:creator" content="@liberty@mathstodon.xyz">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.summary | safe | striptags }}">
<meta property="og:image" content="/avatar.png">
<meta name="author" content="Anna Liberty">
{% endblock head_extras %}

{% block title %}
  {{ page.title }} — Anna Liberty
{% endblock title %}

{% block pagetitle %}
  Anna's Articles
{% endblock pagetitle %}

{% block content %}
  <h1>{{ page.title }}</h1>
<p class="date"><strong>{{ page.date }}</strong></p>
{{ page.content | safe }}
{% endblock content %}
