{% extends "base.html" %}

{% block title %}
  {{ section.title }}
{% endblock title%}

{% block pagetitle %}
  {{ section.title }}
{% endblock pagetitle %}

{% block content %}
  {{section.content | safe }}
  <section>
    {% for page in section.pages %}
      <article>
	<h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
	<p>{{ page.date | safe }} — {% for tag in page.taxonomies.tags %} <a href="/articles/tags/{{ tag }}">#{{ tag }}</a> {% endfor %} </p>
	<p>{{ page.summary | safe }}</p>
	<p><a href="{{ page.permalink | safe }}">Read more</a></p>
      </article>
    {% endfor %}
  </section>

  <p><a href="/atom.xml">Subscribe with RSS</a></p>
{% endblock content %}
